/*Schriftart Jost einbinden*/
@font-face {
font-family: 'Jost';
font-style: normal;
src: local('Jost'), url("../ttf/Jost-500-Medium.ttf") format('truetype');}
@font-face {
font-family: 'JostBold';
font-style: bold;
src: local('JostBold'), url("../ttf/Jost-700-Bold.ttf") format('truetype');}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Jost;
}
h1 {
  font-family: JostBold;
  font-size: 50px;
  margin: 20px;
  color: #1DA64A;
  transition: text-shadow 1s;
}
p {
  width: 50vh;
  height: auto;
  background-color: #E6E4EB;
  margin-left: 20px;
  padding: 20px;
  border-radius: 25px;
}
.datenschutz h2 {
  font-family: Jost;
  font-weight: bold;
  margin-left: 40px;
}
p {
  width: 50vh;
  height: auto;
  background-color: white;
  margin-left: 40px;
  padding: 20px;
  border-radius: 25px;
  transition: background-color 1.5s;
}


h1:hover {
  text-shadow: 10px 10px 20px gray;
}
p:hover {
  background-color: #E6E4EB;
}
