@font-face {
font-family: 'Jost';
font-style: normal;
src: local('Jost'), url("../ttf/Jost-500-Medium.ttf") format('truetype');}
@font-face {
font-family: 'JostBold';
font-style: bold;
src: local('JostBold'), url("../ttf/Jost-700-Bold.ttf") format('truetype');}

html {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: Jost;
}
footer {
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  color: #1DA64A;
  text-decoration: none;
}

/*MOBILE*/
@media only screen and (max-width: 599px) {
  h1 {
    color: #1DA64A;
    font-family: JostBold;
    font-size: 5rem;
  }
  h2 {
    font-family: JostBold;
    font-size: 4rem;
  }
  h3 {
    font-family: JostBold;
    font-size: 3rem;
  }
  .menue {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B7340;
    box-shadow: 0 -10px 30px gray;
  }
  .menue nav{
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a, .content .links li label{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    text-decoration: none;
  }
  .content .links li label{
    display: none;
  }
  .menue .menu-icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    z-index: 5;
    position: relative;
  }
  .menue input[type="checkbox"]{
    display: none;
  }
  .menue #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
    position: relative;
    z-index: 5;
  }
  nav .content .links{
    display: block;
    position: fixed;
    background-color: #1B7340;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -200%;
    margin-left: 0;
    max-width: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.5s ease;
    rotate: 0;
    z-index: 4;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
    rotate: 0deg;
    padding-top: 5em;
    margin-top: -5em;
    z-index: 3;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a, .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .logo {
    position: relative;
    width: 6em;
    height: 6em;
    float: right;
    margin-top: -3em;
    margin-right: 1em;
    animation: test 1s 4s;
    animation-iteration-count: 1;
  }
  .inhalt {
    width: 100%;
  }
  .start {

  }
  .start h1 {
    color: #1B7340;
    margin-left: 25px;
    margin-right: 25px;
  }

  /*timer
  ------------------------------------------------------------------------------*/
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3vh;
    color: white;
    margin-bottom: 10vh;
    margin-top: 0rem;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 90%;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 0.8em;
    position: absolute;
  }

  #days {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  .einf端hrung {
    margin-left: 25px;
    margin-right: 8px;
  }
  .disclaimer {
    width: auto;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
  }
  .preview {
    float: right;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin: 10px;
  }
  footer {
    bottom: 1%;
    position: relative;
    width: 100%;
  }
}
/*TABLETT*/
@media only screen and (max-width: 980px ) {
  h1 {
    color: #1DA64A;
    font-family: JostBold;
    font-size: 5vh;
  }
  h2 {
    font-family: JostBold;
    font-size: 4vh;
  }
  h3 {
    font-family: JostBold;
    font-size: 3vh;
  }
  .menue {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B7340;
    box-shadow: 0 -10px 30px gray;
  }
  .menue nav{
    position: relative;
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
  }
  nav .content{
    display: flex;
    align-items: center;
  }
  nav .content .links{
    margin-left: 80px;
    display: flex;
  }
  .content .links li{
    list-style: none;
    line-height: 70px;
  }
  .content .links li a, .content .links li label{
    color: white;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    text-decoration: none;
  }
  .content .links li label{
    display: none;
  }
  .menue .menu-icon{
    color: white;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
    width: 40px;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    z-index: 5;
    position: relative;
  }
  .menue input[type="checkbox"]{
    display: none;
  }
  .menue #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
    position: relative;
    z-index: 5;
  }
  nav .content .links{
    display: block;
    position: fixed;
    background-color: #1B7340;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -200%;
    margin-left: 0;
    max-width: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.5s ease;
    rotate: -30deg;
    z-index: 4;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
    rotate: 0deg;
    padding-top: 5em;
    margin-top: -5em;
    z-index: 3;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a, .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .logo {
    position: relative;
    width: 6em;
    height: 6em;
    float: right;
    margin-top: -3em;
    margin-right: 1em;
    animation: test 1s 4s;
    animation-iteration-count: 1;
  }
  .inhalt {
    width: 100%;
  }
  .start {

  }
  .start h1 {
    color: #1B7340;
    margin-left: 25px;
    margin-right: 25px;
  }

  /*timer
  ------------------------------------------------------------------------------*/
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 3vh;
    color: white;
    margin-bottom: 10vh;
    margin-top: 0rem;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 90%;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 0.8em;
    position: absolute;
  }

  #days {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  .einf端hrung {
    margin-left: 25px;
    margin-right: 8px;
  }
  p, h2, h3, h4, h5, h6  {
	  margin-left: 25px;
	  margin-right: 8px;
  }
  .disclaimer {
    width: auto;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
  }
  .preview {
    float: right;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    margin: 10px;
  }
  footer {
    bottom: 1%;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 980px ) {
  main {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px 20px 20px;
  }
  h1 {
    color: #1DA64A;
    font-family: JostBold;
    font-size: 4rem;
  }
  h2 {
    font-family: JostBold;
    font-size: 2rem;
  }
  h3 {
    font-family: JostBold;
    font-size: 1rem;
  }
  .menue {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B7340;
    box-shadow: 0 -10px 30px gray;
  }
  .menue nav {
    height: 6rem;
  }
  nav .content {
  }
  nav .content .links {
    overflow: hidden;
  }
  .content .links li {
    list-style: none;
    display: inline;
    float: left;
  }
  .content .links li a, .content .links li label {
    color: white;
    text-decoration: none;
  }
  .content .links li label{
    display: none;
  }
  .menue .menu-icon{
    display: none;
  }
  .menue input[type="checkbox"]{
    display: none;
  }
  .menue #show-menu:checked ~ .menu-icon i::before{
  }
  nav .content .links{
    display: block;
    position: relative;
    left: 0%;
    margin-left: 0;
    max-width: 100%;
    overflow-y: auto;
  }
  nav #show-menu:checked ~ .content .links{
  }
  .content .links li{
    margin-top: 1rem;
  }
  .content .links li a, .content .links li label{
    font-size: 1.3rem;
    display: block;
    padding: 1rem;
    cursor: pointer;
  }
  #start {
    margin-left: 10rem;
  }
  .links {
    margin-top: 0;
  }
  .logo {
    position: relative;
    width: 8em;
    height: 8em;
    float: left;
    margin-top: -4em;
    margin-left: 3em;
  }
  .inhalt {
    width: 100%;
  }
  .start {
  }

  /*timer
  ------------------------------------------------------------------------------*/
  .clock {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 1rem;
    width: auto;
    background-color: #1DA64A;
    border-radius: 20px;
    height: 4rem;
    right: 1rem;
  }
  #timer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    font-size: 3vh;
    color: white;
    float: right;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 90%;
  }
  .countdown p {
    color: black;
    font-size: 15px;
    position: absolute;
    margin-top: 8.5rem;
  }

  #days {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  .einf端hrung {
    margin-right: 25px;
    font-family: Jost;
    font-size: 18px;
  }
  .preview {
    width: 40%;
    height: 40%;
    float: right;
    border-radius: 20px;
    margin: 0px 20px 0 20px;
    margin-bottom: 3px;
  }
  #was {
  }
  .disclaimer {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
  }
  footer {
    bottom: 1%;
    position: relative;
    width: 100%;
  }
}

@media only screen and (min-width: 1260px ) {
  main {
    width: 890px;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 20px 20px 20px;
  }
  h1 {
    color: #1DA64A;
    font-family: JostBold;
    font-size: 4rem;
  }
  h2 {
    font-family: JostBold;
    font-size: 2rem;
  }
  h3 {
    font-family: JostBold;
    font-size: 1rem;
  }
  .menue {
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #1B7340;
    box-shadow: 0 -10px 30px gray;
  }
  .menue nav {
    height: 6rem;
  }
  nav .content {
  }
  nav .content .links {
    overflow: hidden;
  }
  .content .links li {
    list-style: none;
    display: inline;
    float: left;
  }
  .content .links li a, .content .links li label {
    color: white;
    text-decoration: none;
  }
  .content .links li label{
    display: none;
  }
  .menue .menu-icon{
    display: none;
  }
  .menue input[type="checkbox"]{
    display: none;
  }
  .menue #show-menu:checked ~ .menu-icon i::before{
  }
  nav .content .links{
    display: block;
    position: relative;
    left: 0%;
    margin-left: 0;
    max-width: 100%;
    overflow-y: auto;
  }
  nav #show-menu:checked ~ .content .links{
  }
  .content .links li{
    margin-top: 1rem;
  }
  .content .links li a, .content .links li label{
    font-size: 1.3rem;
    display: block;
    padding: 1rem;
    cursor: pointer;
  }
  #start {
    margin-left: 10rem;
  }
  .links {
    margin-top: 0;
  }
  .logo {
    position: relative;
    width: 8em;
    height: 8em;
    float: left;
    margin-top: -4em;
    margin-left: 3em;
  }
  .inhalt {
    width: 100%;
  }
  .start {
  }

  /*timer
  ------------------------------------------------------------------------------*/
  .clock {
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 1rem;
    width: auto;
    background-color: #1DA64A;
    border-radius: 20px;
    height: 4rem;
    right: 1rem;
  }
  #timer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: auto;
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.5em;
    font-size: 3vh;
    color: white;
    float: right;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 90%;
  }
  .countdown p {
    color: black;
    font-size: 15px;
    position: absolute;
    margin-top: 8.5rem;
  }

  #days {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  .einf端hrung {
    margin-right: 25px;
    font-family: Jost;
    font-size: 18px;
  }
  .preview {
    width: 40%;
    height: 40%;
    float: right;
    border-radius: 20px;
    margin: 0px 20px 0 20px;
    margin-bottom: 3px;
  }
  #was {
  }
  .disclaimer {
    width: 100%;
    background-color: red;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
  }
  footer {
    bottom: 1%;
    position: relative;
    width: 100%;
  }
}
