/*Schriftart Jost einbinden*/
@font-face {
font-family: 'Jost';
font-style: normal;
src: local('Jost'), url("../ttf/Jost-500-Medium.ttf") format('truetype');}
@font-face {
font-family: 'JostBold';
font-style: bold;
src: local('JostBold'), url("../ttf/Jost-700-Bold.ttf") format('truetype');}

@media only screen and (max-width: 599px) {
  /*html Quelltext stylen*/
  .info {
    height: auto;
    width: 100%;
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: left;
    color: white;
    background-color: #1B7340;
    box-shadow: 0 -10px 40px gray;
  }
  .info p {
    width: 70%;
    margin: 0;
    margin-left: 5%;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
  }
  .info a {
    color: white;
  }
  .logo {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 8px;
    margin-top: -50px;
  }

  #timerhead {
    margin-left: 5%;
    font-family: JostBold;
    font-size: 7vh;
    transition: text-shadow 1s;
    color: #1DA64A;
  }
  #timerhead:hover {
    text-shadow: 10px 10px 20px gray;
  }
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    border-radius: 10px;
    color: white;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3vh;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 3vh;
    position: absolute;
  }
  .countdown:hover #days {
    rotate: 360deg;
  }
  .countdown:hover #hours {
    rotate: 360deg;
  }
  .countdown:hover #minutes {
    rotate: 360deg;
  }
  .countdown:hover #seconds{
    rotate: 360deg;
  }


  #days {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 8px;
    width: 6vh;
    border-radius: 10px;
    transition: rotate 1s;
  }

  .headline {
    width: 90%;
    margin-left: 5%;
    font-family: JostBold;
    font-size: 30px;
    transition: text-shadow 1s;
  }
  .headline:hover {
    text-shadow: 10px 10px 20px gray;
  }
  .block {
    width: 90%;
    height: auto;
    position: static;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 30px;
    background-color: #E6E4EB;
  }
  .presseMitteilung {
    padding-top: 1px;
    font-size: 16px;
  }
  .presseMitteilung h1 {
    width: 90%;
    font-size: 32px;
    font-family: JostBold;
    color: #1DA64A;
    padding-left: 20px;
  }
  .presseMitteilung p {
    width: 90%;
    padding-left: 20px;
    font-weight: bolder;
  }
  .download {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 600px ) {
  /*html Quelltext stylen*/
  .info {
    height: auto;
    width: 100%;
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: left;
    color: white;
    background-color: #1B7340;
    box-shadow: 0 -10px 40px gray;
    z-index: 1;
  }
  .info p {
    width: 60%;
    margin: 0;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .info a {
    color: white;
  }
  .logo {
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 18px;
    margin-top: -75px;
  }
  #timerhead {
    margin-left: 5%;
    font-family: JostBold;
    font-size: 8vh;
    transition: text-shadow 1s;
    color: #1DA64A;
  }
  #timerhead:hover {
    text-shadow: 10px 10px 20px gray;
  }
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    border-radius: 10px;
    color: white;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3vh;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 3vh;
    position: absolute;
  }
  .countdown:hover #days {
    rotate: 360deg;
  }
  .countdown:hover #hours {
    rotate: 360deg;
  }
  .countdown:hover #minutes {
    rotate: 360deg;
  }
  .countdown:hover #seconds{
    rotate: 360deg;
  }


  #days {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }

  .headline {
    margin-left: 5%;
    font-family: JostBold;
    font-size: 45px;
    transition: text-shadow 1s;
  }
  .headline:hover {
    text-shadow: 10px 10px 20px gray;
  }
  .block {
    width: 90%;
    height: auto;
    position: static;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #E6E4EB;
  }
  .presseMitteilung {
    padding: 20px;
    padding-left: 40px;
    padding-top: 1px;
    font-size: 16px;
  }
  .presseMitteilung h1 {
    width: 90%;
    font-size: 40px;
    font-family: JostBold;
    color: #1DA64A;
  }
  .presseMitteilung p {
    width: 95%;
  }
  .download {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 980px ) {
  /*html Quelltext stylen*/
  .info {
    height: auto;
    width: 100%;
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: left;
    color: white;
    background-color: #1B7340;
    box-shadow: 0 -10px 40px gray;
    z-index: 1;
  }
  .info p {
    width: 80%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .info a {
    color: white;
  }
  .logo {
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 18px;
    margin-top: -75px;
  }
  #timerhead {
    margin-left: 10%;
    font-family: JostBold;
    font-size: 8vh;
    transition: text-shadow 1s;
    color: #1DA64A;
  }
  #timerhead:hover {
    text-shadow: 10px 10px 20px gray;
  }
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 75%;
    height: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    border-radius: 10px;
    color: white;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3vh;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 3vh;
    position: absolute;
  }
  .countdown:hover #days {
    rotate: 360deg;
  }
  .countdown:hover #hours {
    rotate: 360deg;
  }
  .countdown:hover #minutes {
    rotate: 360deg;
  }
  .countdown:hover #seconds{
    rotate: 360deg;
  }


  #days {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }

  .headline {
    margin-left: 10%;
    font-family: JostBold;
    font-size: 45px;
    transition: text-shadow 1s;
  }
  .headline:hover {
    text-shadow: 10px 10px 20px gray;
  }
  .block {
    width: 80%;
    height: auto;
    position: static;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #E6E4EB;
  }
  .presseMitteilung {
    padding: 20px;
    padding-left: 40px;
    padding-top: 1px;
    font-size: 16px;
  }
  .presseMitteilung h1 {
    width: 90%;
    font-size: 45px;
    font-family: JostBold;
    color: #1DA64A;
  }
  .presseMitteilung p {
    width: 95%;
  }
  .download {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10%;
  }
}

@media only screen and (min-width: 1260px ) {
  /*html Quelltext stylen*/
  .info {
    height: auto;
    width: 100%;
    min-width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0 auto;
    text-align: left;
    color: white;
    background-color: #1B7340;
    box-shadow: 0 -10px 40px gray;
    z-index: 1;
  }
  .info p {
    width: 75%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .info a {
    color: white;
  }
  .logo {
    width: 150px;
    height: 150px;
    float: right;
    margin-right: 18px;
    margin-top: -75px;
  }

  #timerhead {
    margin-left: 12.5%;
    font-family: JostBold;
    font-size: 8vh;
    transition: text-shadow 1s;
    color: #1DA64A;
  }
  #timerhead:hover {
    text-shadow: 10px 10px 20px gray;
  }
  #timer {
    background-color: #1DA64A;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 10vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    border-radius: 10px;
    color: white;
    margin-top: 10vh;
    margin-bottom: 15vh;
  }
  .countdown {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 3vh;
  }
  .countdown p {
    color: black;
    padding-top: 15vh;
    font-size: 3vh;
    position: absolute;
  }
  .countdown:hover #days {
    rotate: 360deg;
  }
  .countdown:hover #hours {
    rotate: 360deg;
  }
  .countdown:hover #minutes {
    rotate: 360deg;
  }
  .countdown:hover #seconds{
    rotate: 360deg;
  }


  #days {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #hours {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #minutes {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }
  #seconds {
    background-color: #1B7340;
    padding: 12px;
    width: 9vh;
    border-radius: 10px;
    transition: rotate 1s;
  }


  .headline {
    margin-left: 12.5%;
    font-family: JostBold;
    font-size: 40px;
    transition: text-shadow 1s;
  }
  .headline:hover {
    text-shadow: 10px 10px 20px gray;
  }
  .block {
    width: 50%;
    height: auto;
    position: static;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    background-color: #E6E4EB;
  }
  .presseMitteilung {
    padding: 20px;
    padding-left: 40px;
    padding-top: 1px;
    font-size: 16px;
  }
  .presseMitteilung h1 {
    width: 90%;
    font-size: 45px;
    font-family: JostBold;
    color: #1DA64A;
  }
  .presseMitteilung p {
    width: 95%;
  }
  .download {
    padding-top: 20px;
    padding-bottom: 20px
  }
