<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Autobahnausbau verhindern! Klimacamp am Sterkrader Wald. Ab dem 2. Juli!">

    <meta property="og:title" content="Klimacamp Sterkrader Wald"/>
    <meta property="og:description" content="Autobahnausbau verhindern! Klimacamp am Sterkrader Wald. Ab dem 2. Juli!"/>
    <meta property="og:image" content="{{site.baseurl}}/logo.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:email" content="info@klimacamp-sterkraderwald.de"/>
    <meta property="og:type" content="Klimacamp"/>
    <meta property="og:url" content="{{site.baseurl}}"/>

    <title>Klimacamp Sterkrader Wald</title>
    <link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
    <link rel="icon" href="{site.baseurl}}/favicon.png">
    <!--script type="text/javascript" src="{{site.baseurl}}/js/timer.js"></script-->
    <script src="{{site.baseurl}}/fa/js/all.js"></script>
  </head>
