<header>
	<div class="menue">
		<nav>
			<input type="checkbox" id="show-menu">
			<label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
			<div class="content">
				<ul class="links">
					{% assign pagelist = site.pages | where_exp: "page","page.menu" | sort: 'menu' %}
					{% for menupage in pagelist %}
					<li id="start"><a href="{{ menupage.url }}">{% if menupage == page %}<u>{% endif %}{{ menupage.title }}{% if menupage == page %}</u>{% endif %}</a></li>
					{% endfor %}
				</ul>
			</div>
		</nav>
	</div>
	<a href="{{site.baseurl}}">
		<img src="{{site.baseurl}}/logo.png" alt="Logo" class="logo">
	</a>
</header>
